In [1]:
# Imports
from fastai.tabular.all import *
import pandas as pd

/home/francesc/anaconda3/envs/fraud-card-transactions/lib/python3.9/site-packages/torch/cuda/__init__.py:52: UserWarning: CUDA initialization: Found no NVIDIA driver on your system. Please check that you have an NVIDIA GPU and installed a driver from http://www.nvidia.com/Download/index.aspx (Triggered internally at  /opt/conda/conda-bld/pytorch_1607370151529/work/c10/cuda/CUDAFunctions.cpp:100.)
  return torch._C._cuda_getDeviceCount() > 0

In [2]:
df = pd.read_csv("data/clean_fraud.csv")
df.head()

,credit_card_num,shop,category,amount,gender,lat,long,city_pop,job,merch_lat,merch_long,is_fraud,age
0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,36.0788,-81.1781,3495,"Psychologist, counselling",36.011293,-82.048315,0,31
1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,48.8878,-118.2105,149,Special educational needs teacher,49.159047,-118.186462,0,41
2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,42.1808,-112.2620,4154,Nature conservation officer,43.150704,-112.154481,0,57
3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,46.2306,-112.1138,1939,Patent attorney,47.034331,-112.561071,0,52
4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,38.4207,-79.4629,99,Dance movement psychotherapist,38.674999,-78.632459,0,33

In [3]:
tp = TabularPandas(df, procs=[Categorify],
                   cat_names = ['shop','category', 'gender','job'],
                   cont_names = ['credit_card_num', 'amount','lat','long','city_pop','merch_lat','merch_long','age'],
                   y_names='is_fraud',
                   y_block = CategoryBlock,
                   splits=RandomSplitter(valid_pct=0.2)(range_of(df)))

In [5]:
dls = tp.dataloaders(bs=64)
dls.show_batch()

In [6]:
learn = tabular_learner(dls, metrics=accuracy)

In [7]:
learn.fit_one_cycle(1)

In [8]:
learn.show_results()